<div class="color-panel hidden-phone">
	<div class="color-mode-icons icon-color"></div>
	<div class="color-mode-icons icon-color-close"></div>
	<div class="color-mode">
		<p>选择主题颜色</p>
		<ul class="inline">
			<li class="color-black current color-default" data-style="default"></li>
			<li class="color-blue" data-style="blue"></li>
			<li class="color-brown" data-style="brown"></li>
			<li class="color-purple" data-style="purple"></li>
			<li class="color-white color-light" data-style="light"></li>
		</ul>
		<label class="hidden-phone">
		<input type="checkbox" class="header" checked value="" />
		<span class="color-mode-label">是否固定顶部页头</span>
		</label>							
	</div>
</div>